<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />


	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder
	

	<f:section name="content">
		<f:flashMessages />
		<ul  class="tx_dbdownloadarea" >
			<f:for each="{downloadarea}" as="download">
				<li>
					<f:if condition="{download.isPublic}">
						<f:then>
							<span style="color:#0095db;">- </span><a href="{download.datei.originalResource.publicUrl}" target="_blank" class="download">{download.title}</a>
						</f:then>
						<f:else>
							<f:security.ifAuthenticated>
							    <f:then>
							        <span style="color:#0095db;">- </span><a href="{download.datei.originalResource.publicUrl}" target="_blank" class="download">{download.title}</a>
							    </f:then>
							    <f:else>
							       <span style="color:#0095db;">- </span> <a data-toggle="modal" data-target="#loginModal" title="Bitte zuerst anmelden!" style="color:grey;">{download.title}</a>
							    </f:else>
							</f:security.ifAuthenticated>
						</f:else>			
					</f:if>
				</li>			
			</f:for>
		</ul>
	</f:section>
</html>