<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-db-download-area" >
	<tr>
		<td>
			<f:translate key="tx_dbdownloadarea_domain_model_download.title" />
		</td>
		<td>
			<!--f:link.action action="legitimation" arguments="{download : download}"> Hier fehlt die Kundennummer
			</f:link.action-->		
			<form action="DownloadController.php" method="get" target="_self">
				<label for="legitimation">Kundennummer:</label>
				<input type="text" id="legitimation" name="legitimation"/>
				<input type="Submit" value="Absenden"/>
			</form>
		</td>
		<td>
		</td>	
	</tr>
	<tr>
		<td>
			<f:translate key="tx_dbdownloadarea_domain_model_download.datei" />
		</td>
		<td>
				<a href="{download.datei.originalResource.publicUrl}">{download.datei.originalResource.name}</a>
		</td>
	</tr>
</table>

</html>